.timer-block-wrapper {
	box-shadow: 0 10px 24px 4px #fabb18;
	max-width: 600px;
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 40px auto 60px;
	padding: 32px 64px;
	border-radius: 24px;
	@media (max-width: 480px) {
		padding: 32px;
	}
}

.timer-block {
	display: flex;
	align-items: center;
	gap: 32px;
	margin-bottom: 32px;
	@media (max-width: 480px) {
		flex-direction: column;
	}
	.title {
		font-size: 21px;
		font-weight: 500;
	}
}

.select-project [class$='-control'] {
	height: 45px;
	border: 1px solid #939191;
	border-radius: 8px;
}

.select-label {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
	gap: 12px;
}

.timer-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	text-align: center;
	&-value {
		font-size: 28px;
	}
}

.icon-block {
	width: 50px;
	height: 50px;
	svg {
		width: 20px;
		height: 20px;
	}
}
