.welcome {
	&-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		padding: 50px 50px 50px 100px;
		gap: 20px;

		& > a {
			margin-right: auto;
		}
	}

	&-text {
		color: #292929;
		font-size: 30px;
		font-weight: bold;
		width: 350px;
	}

	&-img {
		height: 300px;
	}
}
