.header-title {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	@media (max-width: 1199px) {
		font-size: 24px;
	}
	@media (max-width: 1023px) {
		padding-left: 48px;
	}
	@media (max-width: 786px) {
		padding-left: 0;
	}
	@media (max-width: 480px) {
		padding-left: 50px;
		font-size: 21px;
		max-width: 110px;
	}
}
