.name-block {
	display: flex;
	gap: 24px;
	@media (max-width: 768px) {
		flex-direction: column;
		gap: 0;
	}

	& > label:last-of-type {
		max-width: 230px;
		@media (max-width: 768px) {
			max-width: none;
		}
	}
}
.select-label {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
	gap: 8px;
}
.select-project [class$='-control'] {
	height: 45px;
	border: 1px solid #939191;
	border-radius: 8px;
}

.form-buttons {
	display: flex;
	gap: 24px;
	justify-content: end;
	margin-top: 40px;
	@media (max-width: 480px) {
		flex-direction: column;
		gap: 16px;
	}
}
