.layout {
	display: flex;
	position: relative;
}

.content-wrapper {
	padding-left: 270px;
	width: 100%;
	min-height: 100vh;
}
.content {
	background: #f9f9f9;
	height: 100%;
	border-radius: 20px 0 0 0;
	padding: 40px;

	.inner-content-block {
		background: #fff;
		box-shadow: 0 0px 10px 0 hsla(0, 0%, 0%, 0.2);
		border-radius: 25px;
		padding: 32px;
	}
}
