.daily-chart-wrapper {
}

.daily-chart {
	width: 350px;
	height: 350px;
	margin: auto;
	@media (max-width: 1300px) and (min-width: 1200px) {
		width: 250px;
	}
	@media (max-width: 768px) {
		width: 280px;
		height: 330px;
	}
	@media (max-width: 480px) {
		width: 210px;
	}
}

.no-time {
	margin: 10px 0;
}
